Django==4.2.16
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
requests==2.32.3
numpy==1.26.3
pandas==2.1.4
sqlalchemy==2.0.25
python-dotenv==1.0.0
Flask==2.2.5
Werkzeug==2.2.2
Flask-Cors==3.0.10 